

.about-grid {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

/*
 * Media queries
 */

@include mq($from: screen740) {

	.about-grid {
		flex-direction: row;
	}

	.about-grid__image-col {
		width: 50%;
	}
	
	.about-grid__text-col {
		width: 50%;
	}
	
	.about-grid__text-inner {
		padding-left: 30px;
	}

}