

.contact {
	max-width: 570px;
	margin: 0 auto;
	margin-bottom: 70px;
}

.table {
	margin-top: 30px;

	p {
		margin: 0;
	}
}

.table__content {
	padding: 0;
	list-style: none;
}

.table__header {
	font-weight: $font-weight-bold;
}