// ----------------------------------------
// Image grid
// ----------------------------------------

.image-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.image-grid__column {
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
}

.image-grid__image {
  padding-bottom: 100%;
  background-size: cover;
}

.image-grid__inner {
  padding: 0 10px;
  margin-bottom: 20px;
}

// ----------------------------------------
// Modifiers
// ----------------------------------------

// 3 column

.image-grid--3-col {
  .image-grid__column {
    width: 100%;
  }
}

// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen740) {
  .image-grid--3-col {
    .image-grid__column {
      width: 50%;
    }
  }
}

@include mq($from: screen980) {
  .image-grid--3-col {
    .image-grid__column {
      width: 33.333%;
    }
  }
}
