// ----------------------------------------
// Mobile header
// ----------------------------------------

.mobile-header {
  display: block;
  text-align: center;
  padding: 0 20px;
  height: 50px;
  margin-bottom: 50px;
}

// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen740) {
  .mobile-header {
    display: none;
  }
}
