// ----------------------------------------
// Mobile header
// ----------------------------------------

.mobile-header {
  display: block;
  text-align: center;
  padding: 0 20px;
  transform: translatex(0); // menu open animation
  transition: transform $menu-transition ease; // menu open animation
}

.mobile-header__close-bg {
  opacity: 0;
  transition: opacity $menu-transition 0.2s ease;
}

// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen740) {
  .mobile-header {
    display: none;
  }
}
