// ----------------------------------------
// Mobile header
// ----------------------------------------

.mobile-header {
  display: block;
  text-align: center;
  padding: 0 20px;
  height: 50px;
  padding-top: 15px;
}

.mobile-header__title{
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;

  span {
    font-size: 12px;
    display: block;
  }
}

.mobile-header__logo {
  width: 170px;
  margin-top: -2px;
}

// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen980) {
  .mobile-header {
    display: none;
  }
}
