// ----------------------------------------
// Modal
// ----------------------------------------

.modal-wrapper {
  position: relative;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.modal__content {
  display: block;
  padding: 15vh 5vw 60px 5vw;
}

.modal__image {
  max-height: 100%;
}

.modal__btn {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-navigation {
  position: absolute;
  max-width: 1600px;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
  bottom: 0;
  height: 50px;
}

.modal__navigation-btn {
  position: absolute;
  height: 50px;
  width: 50px;
}

.modal__previous-btn {
	left: 5px;
}

.modal__next-btn {
	right: 5px;
}

.modal-close__btn {
  width: 40px;
  padding-top: 6px;
}

.modal-upper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-upper__row {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  padding: 0 15px;
  justify-content: flex-end;
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
}

.modal-upper__count {
  margin-right: auto;
}

.modal__bottom-ui {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  min-height: 50px;
}


// ----------------------------------------
// Modal animations
// ----------------------------------------
.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

// ----------------------------------------
// Modifiers
// ----------------------------------------


// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen740) {
  .image-grid--3-col {
    .image-grid__column {
      width: 50%;
    }
  }

  .modal-content {
    display: flex;
  }

}

@include mq($from: screen980) {
  .image-grid--3-col {
    .image-grid__column {
      width: 33.333%;
    }
  }

  .modal__content {
    padding: 2vh 5vw 60px 5vw;
  }

  .modal-navigation {
    top: 30vh;
    bottom: auto;
    height: auto;
  }
}
