// ----------------------------------------
// Navigation
// ----------------------------------------

.navigation {
  list-style: none;
  padding-left: 40px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 100px;
}

.navigation__list {
  padding: 20px 15px;

  a {
    text-decoration: none;
    font-size: 18px;
    color: $darkGrey;
    font-weight: $font-weight-regular;
  }
}

// ----------------------------------------
// Modifiers
// ----------------------------------------

// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen740) {
  .navigation {
    text-align: center;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .navigation__list {
    margin: 0 5px;
  }
}
