// ----------------------------------------
// Navigation
// ----------------------------------------

.navigation {
  list-style: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
  padding: 0;
}

.navigation__list {
  padding: 25px 15px;

  a {
    text-decoration: underline;
    font-size: 28px;
    color: $darkGrey;
    font-weight: $font-weight-bold;
  }
}

// ----------------------------------------
// Modifiers
// ----------------------------------------

// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen740) {
  .navigation {
    display: flex;
    justify-content: center;
  }

  .navigation__list {
    margin: 0 5px;
    padding: 20px 15px;

    a {
      font-size: 18px;
      text-decoration: none;
      font-weight: $font-weight-regular;
    }
  }
}
