// ----------------------------------------
// Navigation
// ----------------------------------------

.navigation {
  list-style: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
  padding: 0;
}

.navigation__list {
  padding: 20px 15px;

  a {
    text-decoration: none;
    font-size: 22px;
    color: $darkGrey;
    border-bottom: 1px solid $darkGrey;
    padding-bottom: 15px;
  }
}

// ----------------------------------------
// Modifiers
// ----------------------------------------

// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen740) {
  .navigation {
    display: flex;
    justify-content: center;
  }

  .navigation__list {
    margin: 0 5px;
    padding: 20px 15px;

    a {
      font-size: 18px;
      border-bottom: none;
      position: relative;

      &:after {
        @include hoverBorder($darkGrey);
      }

      &:hover {
        &:after {
          @include hoverBorderHovered;
        }
      }
    }
  }

  .navigation__list-active {
    a {
      border-bottom: 1px solid $black;
    }
  }
}
