// ----------------------------------------
// Page list item
// ----------------------------------------

.page-list-items {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 0 15px;
  list-style: none;
}

.page-list-item {
  min-height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.page-list-item__anchor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// ----------------------------------------
// Modifiers
// ----------------------------------------

// ----------------------------------------
// Media queries
// ----------------------------------------

@include mq($from: screen740) {
  .page-list-items {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
