// ----------------------------------------
// Page list item
// ----------------------------------------

.page-list-item {
  height: 300px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

// ----------------------------------------
// Modifiers
// ----------------------------------------

// ----------------------------------------
// Media queries
// ----------------------------------------
