.social-icons {
	display: flex;
	list-style: none;
	align-items: center;

	svg {
		color: $black
	}
}

.social-icons__list-item {
	padding-right: 15px;
}

.social-icons__anchor {
	display: block;
}

.social-icons__svg {
	width: 19px;
}

.social-icons__email-svg {
	width: 28px;
}


@include mq($from: screen740) {

	.social-icons__svg {
		width: 22px;
	}
	
	.social-icons__email-svg {
		width: 30px;
	}

}