// ----------------------------------------
// Modifiers
// ----------------------------------------

html.menu-open {
  .site-header {
    transform: translatex(0);
  }

  .mobile-header__close-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    opacity: 0.1;
  }

  .mobile-header,
  .site-main,
  .site-footer {
    transform: translateX(350px);
  }
}
