// ---------------------------
// colours
// ---------------------------

$white: #ffffff;
$black: #000000;
$lightGrey: #f5f5f5;
$darkGrey: #414141;
$darkGreyAlt: #2b2b2b;

$menu-transition: 0.5s;

// fonts
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-xbold: 800;
